


.NavBar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  padding: 15px;
  color: white;
  gap: 20px;
  cursor: pointer;
  background-color: rgb(155, 75, 75);
}

.NavBar a{
  color: white;
  text-decoration: none;
}
.NavBar input{

  margin-left: 20px;
  padding: 5px;
  border-radius: 50px;
}
.NavBar button{
  padding: 12px;
  border-radius: 50%;
}

.NavBar .ceva{
  display: flex;
  /* justify-content: flex-end; */
}

h2{
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
